@model SP2023_Assignment3_sriddle.Models.CastVM

@{
    ViewData["Title"] = "Delete" + Model.Cast.CharacterName;
}

<h1>Delete @Model.Cast.CharacterName</h1>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cast.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cast.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cast.CharacterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cast.CharacterName)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Cast.Id" />
            <input type="submit" value="Delete @Model.Cast.CharacterName?" class="btn btn-danger"/>
            <br /><br />
            &larr; <a class="back-anchor" asp-action="Index">Back to Casting Roles List</a>
        </form>
    </div>
    
</div>