@model SP2023_Assignment3_sriddle.Models.Cast

@{
    ViewData["Title"] = Model.CharacterName + "'s Details";
}

<h1>@Model.CharacterName's Details</h1>
<br />
<p>
    <a class="generic-anchor" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</p>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            Character Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
    </dl>
</div>
<div>
    <br />
    &larr; <a class="back-anchor" asp-action="Index">Back to Casting Roles List</a>
</div>
