@model SP2023_Assignment3_sriddle.Models.TweetsVM

@{
    ViewData["Title"] = "Analyze " + Model.Name + "'s Popularity";
}

<h1>Analyze @Model.Name's Popularity</h1>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Average Popular Sentiment
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Average)
        </dd>
    </dl>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tweets[0].Tweet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tweets[0].Sentiment)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tweets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tweet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sentiment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <br />
    &larr; <a class="back-anchor" asp-action="Index">Back to Actor List</a>
</div>
