@model SP2023_Assignment3_sriddle.Models.ActorCastVM

@{
    ViewData["Title"] = Model.Actor.Name + "'s Details";
}

<h1>@Model.Actor.Name's Details</h1>
<br />
<p>
    <a class="generic-anchor" asp-action="Edit" asp-route-id="@Model.Actor?.Id">Edit</a>
</p>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        <dt class = "col-sm-2">
            IMDB Link
        </dt>
        <dd class = "col-sm-10">
            <a target="_blank" href="@Model.Actor.IMDBLink">View on IMDB</a>
        </dd>
        <dt class="col-sm-2" style="vertical-align: middle;">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class="col-sm-10" >
            @if (Model.Actor.Photo != null)
            {
                <img src="@Url.Action("GetActorPhoto","Actors",new {Model.Actor.Id})" alt="Photo" width="100" height="100" />
            }
        </dd>
    </dl>
</div>
<br />
<div>
    <h1>Movies Featured In</h1>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Casts[0].Movie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Casts[0].CharacterName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Casts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CharacterName)
                    </td>
                    <td>
                        <a asp-controller="Casts" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Casts" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Casts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<h1>Analyze @Model.Actor.Name's Popularity</h1>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Average Popular Sentiment
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.TweetsVM.Average)
        </dd>
    </dl>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TweetsVM.Tweets[0].Tweet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TweetsVM.Tweets[0].Sentiment)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TweetsVM.Tweets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tweet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sentiment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <br />
    &larr; <a class="back-anchor" asp-action="Index">Back to Actor List</a>
</div>
